<!DOCTYPE html>
<html>
<head>
  <title>Snap</title>
  <link id="favicon" href="<%= image_url("nib-flat.png") %>" rel="shortcut icon" type="image/x-icon" />
  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- <script     src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEnVlIgXIST_x90M_NeyizU6KqOojlzPU&callback=initMap" async defer>
  </script> -->
  <!-- <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBEnVlIgXIST_x90M_NeyizU6KqOojlzPU"%> -->
  <!-- <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBEnVlIgXIST_x90M_NeyizU6KqOojlzPU&callback=initMap" %> -->

  <%= javascript_include_tag('artyom.min.js') %>
  <!-- <script src="artyom.min.js"></script> -->
  <script type="text/javascript">
    window.snapAssets = {
      // image_url is a rails helper method that does the fingerprinting
      // so we need erb tag to use ruby
      // file name is an argument to the image_url method
      firstImage: "<%= image_url("Nature-Night-Sky-Stars-Blurred-Light-Show-Mountains-WallpapersByte-com-3840x2400.jpg") %>",
      favicon_icon: "<%= image_url("nib-flat.png") %>",
      favicon_icon_noti: "<%= image_url("nib-flat-noti.png") %>",
      favicon_icon_bw: "<%= image_url("nib-flat-bw.png") %>",
      ding: "<%= asset_url("ding.mp3") %>",
      phi: "<%= image_url("Phi_Truong.png") %>",
      profile: "<%= image_url("profile.png") %>",
      voice: "<%= image_url("mic.png") %>"
    }
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
